h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
}

#question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: calc(1vw + 1vh);
    margin-top: -10px;
    margin-bottom: -10px;
}

#output {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: calc(1vw + 1vh);
}

#vertical {
    margin-top: 50px;
}

#horizontal {
    display: flexbox;
    margin: auto;
    /* width: 500px; */
    text-align: center;
}

button {
    font-size: calc(1vw + 1vh);
    width: 30vw;
    height: 30vw;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: lightcyan;
}

button:active {
    background-color: lightblue;
}

* {
    user-select: none;
}
